*{
    box-sizing: border-box;
}
:root{
    --resultBox-bg-colour: green;
}
button{
    cursor: pointer;
}
/* HUD */
.progressBarContainer{
    margin-top: 20px;
    background-color: green;
    width: 95%;
    height: 20px;
    border-radius: 10px;
    margin-left: 5px;
}
#progressBar{
    width: 0%;
    height: 100%;
    background-color: red;
    transition: width 0.3s ease;
    border-radius: 10px;
}
.exitBtn{
    float: right;
    cursor: pointer;
    text-decoration: none;
    color: black;
    transform: scale(1.2) translateY(-6px);
    padding: 5px;
    margin-right: 5px;
}

/* Main content */
.lessonSection{
    display: none;
    margin-left: 10px;
}
.imgs{
    width: 200px;
    height: 200px;
}
.clicked{
    border: 2px solid green;
}
.resultBox{
    position: fixed;
    bottom: -150px;
    background-color: var(--resultBox-bg-colour);
    padding: 15px;
    transition: bottom 0.3s ease;
    width: 100%;
    height: 150px;
    margin-left: 0px;
    z-index: 3;
}
.animated{
    bottom: 0px;
}
.notAnimated{
    bottom: -150px;
}
body{
    margin: 0;
}
main{
    position: relative;
}
#lessonOverlay{
    position: absolute;
    background: transparent;
    inset: 0;   
    display: none;
}
#answerMessage, #messageBox{
    color: white;
    height: fit-content;
}
#userFeedbackBox{
    float: right;
    display: none;
}
#messages{
    float: left;
}

